node_modules
.pnpm-store
.turbo
.next
dist
build
coverage
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
*.log
public/sw.js
public/sw.js.map
public/swe-worker*
public/sw*
apps/cashier/public/sw.js
apps/cashier/public/sw.js.map
apps/*/public/sw.js
.vercel
