node_modules
.pnpm-store
.turbo
.next
dist
build
coverage
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
*.log
apps/cashier/public/sw.js
apps/cashier/public/sw.js.map
apps/cashier/public/swe-worker*.js
.vercel
